# urllib3 version 1.24 is not python 2.7 compatible for now
urllib3==1.23 ; python_version <='2.7'
# Force six 1.11.0
six>=1.11.0 ; python_version >= '2.7'
flickrapi ; python_version >= '2.7'
pytest-flakes ; python_version >= '2.7'
coverage ; python_version >= '2.7'
flake8
dropbox
portalocker
# This is a neccessary dependency for portalocker on Windows
# pypiwin32==223
coveralls
